@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <p>
                Hello @(User.Identity.GetUserName())!
            </p>
        </li>
    </ul>
}
