<p>Queue Details</p>
<div class="col-sm-4">
    Document Details

    Recorded Date: 1/1/1900
    Document Number: AE1234567
    Document Type: Deed

    Grantor: Shirley Temple
    Grantee: Mr. McDonald
</div>
<div class="col-sm-4">
    Property Detials

    Parcel Number: 9011185058
    Legal Description: 427 Island Ave Unit 429

    Class Code: Single Family
</div>
<div class="col-sm-4">
    AE 12/1/1990 12:10: Hey
    TL 12/1/1990 2:40PM: Hello
</div>