@model HPE.Kruta.Web.Models.JqGridModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KRUTA</h1>
    <p class="lead">Documents work list management system</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><h2>Document List Grid Samples</h2></p>
        <p>
            <div class="container">
                <div class="row">
                    <b>Telerik Grid</b>
                </div>
                <div class="row">
                    @*<div class="col-sm-4">@Html.CheckBox("checkAll", false)</div>
                        <div class="col-sm-4">Document name</div>
                        <div class="col-sm-4">Status</div>*@
                    @Html.Partial("_TelerikPartial")
                </div>
                <div class="row">
                    <br />
                    <b>JQGrid</b>
                </div>
                <div class="row">
                    @Html.Partial("_jqGridPartial", Model)
                </div>
            </div>
        </p>
        <p></p>
        <p>
        </p>
    </div>
</div>