@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KRUTA</h1>
    <p class="lead">Documents work list management system</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Document List</h2>
        <p>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">@Html.CheckBox("checkAll", false)</div>
                    <div class="col-sm-4">Document name</div>
                    <div class="col-sm-4">Status</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">@Html.CheckBox("doc1Chekcbox", false)</div>
                    <div class="col-sm-4">
                        <a class="" href="javascript:void(0);">Document 1</a>
                    </div>
                    <div class="col-sm-4">Un-assigned</div>
                </div>
            </div>
        </p>
        <p></p>
        <p>
            <a class="btn btn-default" href="javascript:void(0);">Route</a>
            <a class="btn btn-default" href="javascript:void(0);">Assign</a>
        </p>
    </div>
</div>