@model HPE.Kruta.Model.Queue

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    Home > Document > Queue
</div>

<div class="container-fluid">
    <div class="container-fluid text-right custom-text-right">
        <b class="custom-title-left custom-Queue">Document Queue</b>
        <div class="btn-group custom-btnGrup">
            @if (User.IsInRole("CanAssign"))
            {
                <button type="button" class="btn warning custom-btn" id="AssignDocumentQueueCommand" Enabled='@HttpContext.Current.User.IsInRole("Admin").ToString()'>Assign</button>
            }
        </div>
    </div>

    @Html.Partial("_DocumentQueuePartial")

</div>

<br />

<div class="container-fluid">

    <div class="container-collapse">
        <a href="#queueDetailsSection" class="btn cust-bn custom-queueDetailsCommand disabled" style="text-transform:capitalize;" data-toggle="collapse" id="queueDetailsCommand">Item Details</a>
        <div id="queueDetailsSection" class="collapse custom-queueDetails">
            @Html.Partial("_QueueDetailsPartial", Model)
        </div>
    </div>

</div>



<div class="modal fade" id="assignModal" role="dialog">
    <div class="modal-dialog custom-popupMain">

        <!-- Modal Content Start -->
        <div class="modal-content custom-popupMain-Content">
            <div class="modal-header custom-popupMain-Header">
                <button type="button" class="close custom-popupMain-Close-Btn" data-dismiss="modal">&times;</button>
                <h6 class="modal-title custom-popupMain-Hr">Assign Document(s) To</h6>
            </div>
            <div class="modal-body">
                <!-- Form Start -->
                <div class="container">
                    <div class="form-group custom-popupMain-Form">
                        <label for="routingControlStaff">Assign To :</label>
                        @Html.DropDownList("RoutingControlStaffList", ViewBag.RoutingControlStaffList as SelectList, new { @class = "form-control form-control-custom", @id = "routingControlStaffList" })
                    </div>
                </div>
                <!-- Form End -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning custom-popupMain-Footer-Btn" data-dismiss="modal" onclick="showAssignConfirmModal('Confirmation', 'Are you sure you want to assign the selected Document(s)?');">Assign</button>
            </div>
        </div>
        <!-- Modal Content End -->

    </div>
</div>
<!-- information Modal Start -->
<div class="modal fade" id="informationModal" role="dialog">
    <div class="modal-dialog custom-popupMain">

        <!-- Modal Content Start -->
        <div class="modal-content custom-popupMain-Content">
            <div class="modal-header custom-popupMain-Header">
                <button type="button" class="close custom-popupMain-Close-Btn" data-dismiss="modal">&times;</button>
                <h6 class="modal-title custom-popupMain-Hr" id="informationModalTitle">Notification</h6>
            </div>
            <div class="modal-body">
                <!-- Form Start -->
                <div class="container">
                    <div class="form-group custom-popupMain-Form">
                        <p id="informationModalMessage">Please select at least one document from the queue.</p>
                    </div>
                </div>
                <!-- Form End -->
            </div>
            <div class="modal-footer">
                <button type="submit" id="informationModalOk" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
        <!-- Modal Content End -->

    </div>
</div>
<!-- information Modal End -->
<!-- Confirmation Modal Start -->
<div class="modal fade" id="confirmationModal" role="dialog">
    <div class="modal-dialog custom-popupMain">

        <!-- Modal Content Start -->
        <div class="modal-content custom-popupMain-Content">
            <div class="modal-header custom-popupMain-Header">
                <button type="button" class="close custom-popupMain-Close-Btn" data-dismiss="modal">&times;</button>
                <h6 class="modal-title custom-popupMain-Hr" id="confirmationModalTitle">Confirmation</h6>
            </div>
            <div class="modal-body">
                <!-- Form Start -->
                <div class="container">
                    <div class="form-group custom-popupMain-Form">
                        <p id="confirmationModalMessage">Are you sure you want to assign the selected Document(s)?</p>
                    </div>
                </div>
                <!-- Form End -->
            </div>
            <div class="modal-footer">
                @*<button type="submit" class="btn btn-warning" data-dismiss="modal" style="background-color:#91A2C9; padding: 8px 30px;">Ok</button>*@
                <button id="btnYesConfirmYesNo"
                        type="button" class="btn btn-primary">
                    Yes
                </button>
                <button id="btnNoConfirmYesNo"
                        type="button" class="btn btn-default">
                    No
                </button>
            </div>
        </div>
        <!-- Modal Content End -->

    </div>
</div>
<!-- Confirmation Modal End -->