@model HPE.Kruta.Model.Queue

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-1 sidenav">
        @section Sidebar {
            <p>Put you sidebar stuff here!</p>
        }
    </div>

    <div class="col-md-11" style="padding-right:60px;padding-left:60px">
        Home > Document > Queue
        <p>
            <div class="container-fluid">
                <div class="row">
                    @Html.Partial("_DocumentQueuePartial")
                </div>
                <div class="row">
                    @Html.Partial("_QueueDetailsPartial", Model)
                </div>
            </div>
        </p>
        <p></p>
        <p>

        </p>
    </div>
</div>
<div class="modal fade" id="assignModal" role="dialog">
    <div class="modal-dialog" style="padding-top:15%">

        <!-- Modal Content Start -->
        <div class="modal-content" style="background-color:#F1F3F9;width:80%">
            <div class="modal-header" style="background-color:#2E3D5E;padding-top:10px">
                <button type="button" class="close" style="color:white" data-dismiss="modal">&times;</button>
                <h6 class="modal-title" style="color:white;font-size:medium">Assign Document(s) To</h6>
            </div>
            <div class="modal-body">
                <!-- Form Start -->
                <div class="container">
                    <form>
                        <div class="form-group" style="padding-top:15px">

                            <label for="routingControlStaff">Assign To :</label>
                            <select class="form-control form-control-custom" id="routingControlStaff">
                                <option value="tianxuLi" selected="selected">Tianxu Li</option>
                                <option value="amandaElish">Amanda Elish</option>
                                <option value="rawanShreim">Rawan Shreim</option>
                                <option value="annaPavlenko">Anna Pavlenko</option>
                                <option value="summerZhang">Summer Zhang</option>
                                <option value="salahAhmad">Salah Ahmad</option>
                            </select>
                        </div>
                    </form>
                </div>
                <!-- Form End -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning" data-dismiss="modal" style="background-color:#91A2C9; padding: 8px 30px;">Assign</button>
            </div>
        </div>
        <!-- Modal Content End -->

    </div>
</div>