@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KRUTA</h1>
    <p class="lead">Documents work list management system</p>
</div>

<div class="row">
    <div class="col-md-4">
        Home > Document > Queue
        <p>
            <div class="container">
                <div class="row">
                    @Html.Partial("_DocumentQueuePartial")
                </div>
                <div class="row">
                    @Html.Partial("_QueueDetailsPartial")
                </div>
            </div>
        </p>
        <p></p>
        <p>

        </p>
    </div>
</div>