@model HPE.Kruta.Web.Models.JqGridModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KRUTA</h1>
    <p class="lead">Documents work list management system</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><h2>Document List Grid Samples</h2></p>
        <p>
            <div class="container">
                <div class="row">
                    <b>
                        <a href="http://demos.telerik.com/aspnet-mvc/grid/filter-row" target="_blank">Telerik Grid</a>
                    </b>
                </div>
                <div class="row">
                    @Html.Partial("_TelerikPartial")
                </div>
                <div class="row">
                    <br />
                    <b>
                        <a href="http://trirand.azurewebsites.net/demo/grid" target="_blank">JQGrid</a>
                    </b>
                </div>
                <div class="row">
                    @Html.Partial("_jqGridPartial", Model)
                </div>
            </div>
        </p>
        <p></p>
        <p>
        </p>
    </div>
</div>