body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav > li > p {
    position: relative;
    display: block;
    padding-top: 15px;
    color: #9d9d9d;
}




/* Custom Stylesheet for Master Layout */
.custom-navbar, footer {
    margin-bottom: 0;
    background-color: #2E3D5E;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-navbar ul > li > a,
footer {
    color: white;
}

.custom-navbar ul > li > a:focus,
.custom-navbar ul > li > a:hover,
.custom-navbar ul > li.active > a,
.custom-navbar .open > a,
.custom-navbar .open > a:hover,
.custom-navbar .open > a:focus {
    background-color: #2E3D5E;
    color: white;
    font-size: 20px;
    -webkit-transition: font 0.5s ease;
    -moz-transition: font 0.5s ease;
    -o-transition: font 0.5s ease;
    -ms-transition: font 0.5s ease;
    transition: font 0.5s ease;
    
}

.dropdown-menu {
    background-color: #2E3D5E;
}

.navbar-brand {
    font-size: 2em;
    color: white;
    margin-right: 30px;
}

.custom-navbar ul.navbar-right > li > a,
.custom-navbar ul.navbar-right > li > p {
    color: lightgray;
    margin-right: 15px;
}

.custom-navbar ul.navbar-right > li > a:focus,
.custom-navbar ul.navbar-right > li > a:hover,
.custom-navbar ul.navbar-right > li.active > a {
    color: white;
}

.custom-navbar ul.navbar-right {
    margin-right: 30px;
}

.custom-body {
    padding-right: 60px;
    padding-left: 135px
}

html {
  overflow-y: scroll;
}

/*The following styling section is for the Queue details partial main container*/ 
.container-collapse {
        /*position: absolute;*/
        bottom: 50px;
        width: 100%;
        display: inline-block;
        
    }

.inner{
        background-color: #F1F3F9;
      border: hidden;
      margin: 10px 0;
      height: 230px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      font-family:Arial;
}

.row {
        overflow: hidden;
        border-left-width: 100px;
    }

.custom-queueDetailsSection {
    background-color:#D1D8E9;
    
    }
.custom-queueDetailsCommand {
    background-color: #2E3D5E;
    border: hidden;
    }

.custom-inner {
    border:solid; 
    border-color:#91A2C9; 
    border-width:1px;
    }
.custom-row-1 {
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0px 24px 3px -24px #91A2C9;
    }

.custom-row-2 {
    padding-right: 20px; 
    padding-left: 20px;
    }

.custom-docstatusdropdown {
    padding-left: 20%
    }

.custom-drp {
    border: none; 
    background-color: #F1F3F9; 
    color: Black; 
    padding: 8px 30px; 
    text-align: center; 
    font-size: 13px; 
    float: left;
    }
.SR-btn-group {
    padding-top: 35%; 
    padding-left: 30%
    }

.custom-btn-SR{
    border: none; 
    background-color: #8CBA26; 
    color: white; 
    text-align: center; 
    padding: 8px 25px; 
    font-size: 16px;
}


/*The following styling is for DOcument Queue Container*/
.k-grid-header .k-header {
                    background-color:#D1D8E9;
                    font-weight: 700 !important;
                        }
.k-grid tr td {
    border-right:0 !important;
    border-left:0 !important;
    border-top:0 !important;
}
.k-alt {
    background-color:#F1F3F9;
    border-right:0 !important;
    border-left:0 !important;
    border-top:0 !important;
}
.success {
       background-color: #4CAF50;
}
        /* Green */
.success:hover {
       background-color: #46a049;
}
.warning {
       background-color: #ff9800;
    }

.btn {
    text-transform: uppercase;
}





/*Queue Detail Grid and button*/


.custom-btn {
    border: none;
    background-color: #8CBA26;
    color:white;
    padding: 8px 60px;
    text-align: center;
    font-size: 16px;
    float: left;
}

.custom-Queue {
    float:left;
    color:#2E3D5E;
    padding-top:1%;
}

.custom-btnGrup {
    padding-bottom:5px;
}

.custom-popupMain {
padding-top:15%;
}

.custom-popupMain-Content {
    background-color:#F1F3F9;
    width:80%;
}
.custom-popupMain-Header {
    background-color:#2E3D5E;
    padding-top:10px;
    padding:10px;
}
.custom-popupMain-Close-Btn {
    color:white;
}
.custom-popupMain-Title {
    color:white;
    font-size:medium;
}
.custom-popupMain-Hr {
    color:white;
    font-size:medium;
} 

.custom-popupMain-Form {
    padding-top:15px;
}

.custom-popupMain-Footer-Btn {
    background-color:#91A2C9;
    padding: 8px 30px;

}