/*custom-popupMain-Footer-Btnody {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

body {
    padding: 0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

.nav > li > p {
    position: relative;
    display: block;
    padding-top: 15px;
    color: #9d9d9d;
}




/* Custom Stylesheet for Master Layout */
.custom-navbar, footer {
    margin-bottom: 0;
    background-color: #2E3D5E;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-navbar ul > li > a,
.custom-navbar ul > li > p {
    height: 30px;
    padding-top: 4px !important;
    padding-bottom: 0 !important;
}

.custom-navbar {
    /*border-bottom-width: 20px;
    border-bottom-style: solid;
    border-bottom-color: white;*/
    margin-bottom: 10px;
    padding-left: 115px;
    border-radius: 0;
    min-height: 10px !important;
    height: 30px !important;
}

.custom-navbar ul > li > a,
footer {
    color: white;
}

.custom-navbar ul > li > a:focus,
.custom-navbar ul > li > a:hover,
.custom-navbar ul > li.active > a,
.custom-navbar .open > a,
.custom-navbar .open > a:hover,
.custom-navbar .open > a:focus {
    background-color: #496197;
    color: white;
    
}

.dropdown-menu {
    background-color: #2E3D5E;
}

.dropdown-menu > li {
    margin-top: 10px;
}

.navbar-brand {
    margin-right: 30px;
    font-size: 2em;
    color: white;
}

.navbar-header {
    padding-left: 45px;
}

.custom-navbar ul.navbar-right > li > a,
.custom-navbar ul.navbar-right > li > p {
    color: white;
    margin-right: 15px;
}

.custom-navbar ul.navbar-right > li > a:focus,
.custom-navbar ul.navbar-right > li > a:hover,
.custom-navbar ul.navbar-right > li.active > a {
    color: white;
}

.custom-navbar ul.navbar-right {
    margin-right: 45px;
}

.custom-body {
    padding-right: 60px;
    padding-left: 60px
}

.custom-brand {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 70px;
    color: white;
    background-color: #2E3D5E;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #D1D8E9;
}

.custom-brand img {
    height: 60px;
    width: 60px;
    /*vertical-align: middle;*/
    vertical-align: -100%;
}

.custom-brand > a {
    padding-right: 10px;
}

.custom-brand img,
.custom-brand > h2 {
    display: inline;
}

















html {
  overflow-y: scroll;
}

/*The following styling section is for the Queue details partial main container*/ 
.container-collapse {
        /*position: absolute;*/
        bottom: 50px;
        width: 100%;
        display: inline-block;
        
    }

.inner{
        background-color: #F1F3F9;
      border: hidden;
      margin: 10px 0;
      height: 230px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      font-family:Arial;
}

.PropertyCaseInformation .inner {
    background-color: #F1F3F9;
    border: hidden;
    margin: 10px 0;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial;
}

.PropertyCaseInformation .custom-inner {
    border: solid;
    border-color: #91A2C9;
    border-width: 1px;
}

.row {
        overflow: hidden;
        border-left-width: 100px;
        padding-top:0px;
    }
/*.cust-rw {
border-radius: 25px;
border: 1px solid grey;
}*/

.custom-queueDetails {
    /*background-color:#D1D8E9;*/
    border-radius: 5px;
    border: 1px solid #D1D8E9;
    
    }
.custom-queueDetailsCommand {
    background-color: #2E3D5E;
    border: hidden;
    color: white; 
    text-align: center; 
    }

.cust-bn:hover,
.cust-bn:focus {
    background-color: #2E3D5E;
    color:white;
}
/*.cust-bn:active {
    background-color: #2E3D5E;
    color:white;
}*/
.custom-inner {
    border:solid; 
    border-color:#91A2C9; 
    border-width:1px;
    }

.custom-row-1 {
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0px 10px 3px -10px #91A2C9;
    height:35px;
    padding-top:0.3px;
    }

.custom-row-2 {
    padding-right: 20px; 
    padding-left: 20px;
    padding-top:15px;
    }

.custom-docstatusdropdown {
    display: -webkit-inline-box;
    }

.custom-drp {
    border: none; 
    background-color: #F1F3F9; 
    color: Black; 
    padding: 8px 30px; 
    text-align: center; 
    font-size: 13px; 
    float: left;
    }

.documentdetail {
    padding-right: 30px;
    padding-top : 15px;
    padding-bottom:15px;
}

.documentdetailLeft {
    padding-left: 30px;
    padding-top : 15px;
    padding-bottom:15px;
}

.documentdetailProperty {
    padding-top : 15px;
    padding-bottom:15px;
}

/*.SR-btn-group {
    padding-top: 57%; 
    padding-left: 1%;
    }*/


/*.cust-rw {
display:inline-block
}*/
.custom-btn-SR{
    border: none; 
    background-color: #A9B7D5; 
    color: black; 
    text-align: center; 
    padding: 3px 20px; 
    font-size: 16px;  
    text-transform:capitalize;
}
.cust-add {
color:black; 
padding:6px 5px;
font-size:8pt;
text-transform: capitalize ! important;
margin-bottom:40px;
}
.cust-warning:hover{
    background-color: #A9B7D5;
}

.form-inline {
    padding-left:5px;
    padding-top:20px;
   
    }

textarea {
    resize: none;
    width:80%;
}

/*The following styling is for DOcument Queue Container*/
.k-grid-header .k-header {
                    background-color:#D1D8E9;
                    font-weight: 700 !important;
                        }
.k-grid tr td {
    border-right:0 !important;
    border-left:0 !important;
    border-top:0 !important;
}
.k-alt {
    background-color:#F1F3F9;
    border-right:0 !important;
    border-left:0 !important;
    border-top:0 !important;
}

.k-state-selected a {
    color: white;
}
.k-header > .k-grid-filter, .k-header > .k-header-column-menu {
    background-color: #D1D8E9;
}
.success {
       background-color: #4CAF50;
}
        /* Green */
.success:hover {
       background-color: #46a049;
}
.warning {
       background-color: #ff9800;
    }

.btn {
    text-transform: uppercase;
}
.custom-panel-sty {
padding:0px;
}
.panel-default {
    margin-bottom: 1.5px;
}

/*Queue Detail Grid and button*/


.custom-btn {
    border: none;
    /*border-right:1px solid #ccc;*/
    background-color: #8CBA26;
    color:black;
    text-align: center;
    font-size: 16px;
    text-transform:capitalize;
    color:white;
    margin-bottom:2px;
    margin-top:2px;
    margin-right:5px;
    width:115px;

}
.custom-btn:hover {
    background-color:#ff9800; 
}
.btn-last {
    border-right: none;
}

.custom-Queue {
    float:left;
    color:#2E3D5E;
    padding-top:1%;
    font-size:16px;

}

.custom-btnGrup {
    /*padding-bottom:5px;*/
    float:right;
}

.custom-popupMain {
padding-top:15%;
}

.custom-popupMain-Content {
    background-color:#F1F3F9;
    width:80%;
}
.custom-popupMain-Header {
    background-color:#2E3D5E;
    padding-top:10px;
    padding:10px;
}
.custom-popupMain-Close-Btn {
    color:white;
    opacity:1;
}
.custom-popupMain-Close-Btn:hover {
    color:white;
    opacity:1;
}

.custom-popupMain-Title {
    color:white;
    font-size:medium;
}
.custom-popupMain-Hr {
    color:white;
    font-size:medium;
} 

.custom-popupMain-Form {
    padding-top:15px;
}

.custom-text-right {

padding-top:10px;
padding-left:0px;
padding-right:0px;
}