
@{
    ViewBag.Title = "Property Case Information";
}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container-fluid">
    Home > Case > Property Case Information
</div>

<div class="container-fluid PropertyCaseInformation">

    <div class="container-collapse">
        <div class="container-fluid">
            <div class="row cust-rw">
                <div class="col-sm-12 documentdetailLeft">
                    <div class="row">
                        <div class="inner custom-inner">
                            <div class="row custom-row-1">
                                <h5 style="font-weight: 700 !important;">Document Indexed Data </h5>
                                <br />
                            </div>
                            <div class="row custom-row-2">
                                <div class="col-md-4 stackem">
                                    <p>Grant Deed: text</p>
                                    <p>Preliminary Change of Ownership Record (PCOR)</p>
                                    <p>Record Purchase Contact: </p>
                                    <p>Security Interest Documentation: </p>
                                    <p>Legal Will & Testament: </p>
                                    <p>Memorandum of Lease (or sublease): </p>
                                    <p>Various Affidavits: </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner custom-inner">
                            <div class="row custom-row-1">
                                <h5 style="font-weight: 700 !important;">IPTS System property record</h5>
                                <br />
                            </div>
                            <div class="row custom-row-2">
                                <div class="col-md-4 stackem">
                                    <p>Ownership Date : 03/01/2010</p>
                                    <p>Previous Owner : H T H Learning Corporation</p>
                                    <p>New Owner : A B C Corporation</p>
                                    <br />
                                    <br />
                                    <p>Ownership Date : 04/01/2013</p>
                                    <p>Previous Owner : A B C Corporation</p>
                                    <p>New Owner : Corky McMillin</p>
                                    <br />
                                    <br />
                                    <p>Ownership Date : 08/11/2015</p>
                                    <p>Previous Owner : Corky McMillin</p>
                                    <p>New Owner : B R D Learning</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner custom-inner">
                            <div class="row custom-row-1">
                                <h5 style="font-weight: 700 !important;">Property Information</h5>
                                <br />
                            </div>
                            <div class="row custom-row-2">
                                <div class="col-md-4 stackem">
                                    <p>PIN: text</p>
                                    <p>Address:</p>
                                    <p>Street address:</p>
                                    <p>City: </p>
                                    <p>State: </p>
                                    <p>Country: </p>
                                    <p>Zip code: </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inner custom-inner">
                            <div class="row custom-row-1">
                                <h5 style="font-weight: 700 !important;">Property Owner Information</h5>
                                <br />
                            </div>
                            <div class="row custom-row-2">
                                <div class="col-md-4 stackem">
                                    <p>Corporate Name / Person's Name: text</p>
                                    <p>Owner's address:</p>
                                    <p>Street address:</p>
                                    <p>City: </p>
                                    <p>State: </p>
                                    <p>Country: </p>
                                    <p>Zip code: </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="effect" style="display:none;">
                        <div class="inner custom-inner">
                            <div class="row custom-row-1">
                                <h5 style="font-weight: 700 !important;">Enter Owner Information</h5>
                                <br />
                            </div>
                            <div class="row custom-row-2">
                                <div class="col-md-4 stackem">
                                    <table>
                                        <tr>
                                            <td style="padding-bottom:10px">Corporate Name / Person's Name</td>
                                            <td ><input id="Text1" type="text" style="margin-left:10px; margin-bottom:10px" /></td>
                                           <td ><button type="button" data-toggle="tooltip" title="Refresh" class="btn btn-default custom-btnGrup2" style="margin-left:10px; margin-bottom:10px;width:35px;height:30px;padding-left:2px;padding-top:1px;"><img src="~/Images/smaller search.png" width="30" height="25" /></button></td>
                
                                        </tr>
                                      @*  <tr>
                                            <td style="padding-bottom:15px">Owner's address</td>
                                            <td><input id="Text1" type="text" style="margin-left:10px; margin-bottom:10px" /></td>
                                        </tr>
                                      *@
                                    </table>
                                    <button type="button" class="btn warning custom-btn" id="saveCommand">Save</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="btn-group custom-btnGrup">
                        <button type="button" class="btn warning custom-btn" onclick="runEffect();" id="AddOwnerCommand">Add Owner</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // run the currently selected effect
    function runEffect() {
        // get effect type from
        var selectedEffect = "blind";

        // Most effect types need no options passed by default
        var options = {};
        // some effects have required parameters
        if (selectedEffect === "scale") {
            options = { percent: 50 };
        } else if (selectedEffect === "size") {
            options = { to: { width: 200, height: 60 } };
        }

        // Run the effect
        $("#effect").toggle(selectedEffect, options, 500);
    }
</script>