@model IEnumerable<HPE.Kruta.Model.Role>

@{
    ViewBag.Title = "Employee Role Management";
}
@System.Web.Optimization.Scripts.Render("~/Scripts/EmployeeRoles.js")
<h2>Employee Role Management</h2>

<div class="form-group">
    <div class="col-md-10">
        @Html.DropDownList("EmployeeList", ViewBag.EmployeeList as SelectList,
           new { @class = "form-control form-control-custom", @id = "EmployeeList", @onchange = "LoadEmployeeRoles(this.value)" })
    </div>
</div>
<div id="employeeRoles">
    @Html.Partial("_EmployeeRolesPartial", Model)
</div>